:root {
  /* Colors: */
  --white: #fff;
  --black: #000;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --grey-700: #333333;
  --grey-800: #1f1f1f;
  --grey-900: #141414;
  --green: #c5f82a;

  /* Font Family */
  --ff-base: "Inter", sans-serif;

  /* Font Size: */
  --fs-small: 0.75rem; /* 12px */
  --fs-base: 0.875rem; /* 14px */
  --fs-h1: 1.5rem; /* 24px */

  /* Font Weight: */
  --fw-base: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Line Height: */
  --lh-base: 1.5;

  /* Letter Spacing: */
  --ls-base: 0;

  /* Spacing: */
  --sp-40px: 2.5rem;
  --sp-24px: 1.5rem;
  --sp-20px: 1.25rem;
  --sp-16px: 1rem;
  --sp-12px: 0.75rem;
  --sp-10px: 0.625rem;
  --sp-8px: 0.5rem;
  --sp-4px: 0.25rem;
}

/* 
********************************
SELF-HOSTING FONT:
********************************
*/

/* VARIABLE FONT: */
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_opsz\,wght.woff2")
    format("woff2 supports variations");
  src: url("assets/fonts/Inter-VariableFont_opsz\,wght.woff2")
    format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* 
********************************
GLOBAL CSS VALUES:
********************************
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  font-weight: var(--fw-base);
  line-height: var(--lh-base);
  letter-spacing: var(--ls-base);

  background-color: var(--grey-900);
  color: var(--white);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 
********************************
MAIN:
********************************
*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.card {
  background-color: var(--grey-800);
  flex: 1;
  max-width: 24rem;
  min-height: 38.19rem;
  padding: var(--sp-40px);
  border-radius: var(--sp-12px);
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--sp-24px);
  margin-bottom: var(--sp-24px);
}

.card__profile {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.card__name,
.card__description,
.card__link a {
  font-weight: var(--fw-bold);
}

.card__name {
  font-size: var(--fs-h1);
}

.card__description {
  color: var(--green);
}

.card__nav-list {
  list-style: none;
}

.card__link {
  margin-bottom: var(--sp-16px);
}

.card__link:last-child {
  margin-bottom: 0;
}

.card__link a {
  background-color: var(--grey-700);
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 2.813rem;
  min-width: 19rem;
  border-radius: var(--sp-8px);

  text-decoration: none;
  color: inherit;

  transition: color 0.3s, background-color 0.3s;
}

.card__link a:hover {
  background-color: var(--green);
  color: var(--grey-700);
}

/* 
********************************
FOOTER:
********************************
*/

.attribution {
  text-align: center;
  font-size: var(--fs-small);
  margin-bottom: var(--sp-24px);
}

/* Footer links: */
/* Default State */
.attribution a:link {
  color: var(--gray-400);
  text-decoration: none;
  transition: all 0.1s;
}

/* Visited State */
.attribution a:visited {
  color: var(--gray-400);
}

/* State On Hover */
.attribution a:hover {
  color: var(--gray-500);
}

/* State Whilst Being Clicked */
.attribution a:active {
  color: var(--gray-500);
}
